.music-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.music-lista {
  flex: 1;
  min-width: 300px;
}

.music-playlist {
  flex: 1;
  min-width: 300px;
  background: #f7f7f7;
  padding: 16px;
  border-radius: 8px;
}

.music-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.music-ul {
  padding: 0;
}

.music-item {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  flex-wrap: wrap;
}

.music-btn {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}

.estrella-contenedor {
  margin-top: 5px;
}

.estrella {
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
  margin-right: 3px;
}

.estrella.llena {
  color: gold;
}
